@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  background-color: #F4F6FA;
  font-family: "Inter", "SUIT-Regular", sans-serif;
  letter-spacing: 1.2px;
  line-height: 1.5;
  color: #F4F6FA;
}

html,
body,
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

figure {
  width: fit-content;
  height: fit-content;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  font-family: "Inter", "SUIT-Regular", sans-serif;
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
}

hr {
  border: none;
}

.inner {
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
}

.wrapper {
  position: relative;
}

.header.sticky {
  position: sticky;
  background-color: #1A1E29;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(0); /* or translateY(-5px) if you want movement */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  transition: all .3s ease;
  box-shadow: none;
  transform: translateY(0);
  z-index: 99;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: auto;
    padding: 0 1rem;
  }

  .nav-area {
    display: flex;
    align-items: center;
    gap: 3rem;
  } 

  .desktop-nav {
    .menus {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 3rem;
      margin-top: 1rem;
      font-weight: bold;
    }

    .menu-items {
      position: relative;
      align-content: center;

      &:hover {
        .dropdown {
          display: flex;
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
        }
      }
      
      a {
        display: block;
      }

      button {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: .5rem;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        font-size: 20px;
        font-weight: bold;
      }

      .blog {
        margin-bottom: 10px;
        padding-bottom: .5rem;
        font-size: 20px;
      }
    }
    
    .menu-items.open {
      button {
        border-bottom: 3px solid #001B54;
        font-weight: bold;
      }

      .dropdown {
        display: flex;
      } 
    } 
    
    .dropdown {
      position: absolute;
      top: 100%;
      left: -80%;
      display: none;
      justify-content: center;
      padding: 12px 24px;
      border-radius: 2rem;
      background-color: #001B54;
      font-size: .8rem;
      text-wrap: nowrap;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity .2s ease, transform .2s ease;
      pointer-events: none;
    }
    
    .sub-items {
      font-size: 20px;
      font-weight: 400;

      &:hover {
        font-weight: bold;
      }
    }

    .divider {
      width: 2px;
      background-color: #F4F6FA;
      margin: 4px 8px;
    }
  }

  .custom-select {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;

    .flag {
      object-fit: cover;
      border-radius: 100%;
    }

    .options {
      position: absolute;
      top: 100%;
      left: 0;

      li {
        margin: 4px 0;
      }
    }
  }

  .contact {
    padding: 12px 24px;
    border: 3px solid #F4F6FA;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 1rem;
    font-weight: bold;
    color: #F4F6FA;

    &:hover {
      border: 3px solid #001B54;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      background-color: #001B54;
    }
  }
}

.main-section {
  position: relative;

  .swiper {
    height: 100vh;
  }

  .swiper-slide {

    .slide-bg {
      width: 100%;
      height: 100%;
    }
  
    &:nth-child(1) .slide-bg {
      background: url(../images/slide1.svg) no-repeat top/cover;
    }

    &:nth-child(2) .slide-bg {
      background: url(../images/slide2.svg) no-repeat top/cover;

    }

    .slide-txt {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 100%;
      max-width: 1920px;
      padding: 0 1rem;
      transform: translate(-50%);

      h4 {
        margin-bottom: 1.5rem;
        font-size: 5rem;
      }

      p {
        margin-left: .2rem;
        font-size: 1.5rem;
      }
    }
  }

  .main-menu {
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    height: 300px;
    border-radius: 30px;
    background-color: #001A54;
    text-align: center;
    transform: translateX(-50%);
    z-index: 10;
  }

  .menu-inner {
    align-content: center;
  }

  .line {
    border-right: 1px solid #263A66;
  }
  
  .menu-box {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 100%;
    padding-top: 32px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      border-radius: 30px;
      background-color: #F4F6FA;
      color: #1A1E29;
      transform: translateY(-35px) scale(1.03);

      .title-box .icon {
        color: #001A54;
      }

      button {
        font-weight: bold;
      }
    }

    .title-box {
      align-content: center;

      figure {
        margin: 0 auto;
      }

      .icon {
        color: #F4F6FA;
      }

      .rotate {
        transform: rotate(90deg);
      }

      p {
        margin-top: 8px;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .button-box {
      display: flex;
      justify-content: center;
      gap: 8px;
      padding: 1.5rem 0;

      button {
        font-size: 18px;
      }
    }
  }
}

  .menu-inner:not(:last-child) {
    border-right: 1px solid #263A66;
  }

.business {
  padding-top: 150px;
  padding-bottom: 100px;

  h2 {
    margin-bottom: 3rem;
    font-size: 5rem;
    text-align: center;
    color: #1A1E29;
  }

  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .content-inner {
    &:first-child .content-box {
      border-top-left-radius: 30px;
    }
  
    &:nth-child(2) {
      .keywords-box {
        overflow: hidden;
        max-height: 101px;
      }

      .top {
        width: 100%;
        height: 150px;
      }
    }

    &:last-child .content-box{
      border-bottom-right-radius: 30px;
    }
  }

  .content-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3.75rem;
    width: 400px;
    max-width: 400px;
    height: 600px;
    padding: 2rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: url(../images/card-bg.jpg) no-repeat center/cover;
  }

  .text-box {
    h3 {
      margin-bottom: 1rem;
      font-size: 24px;
      font-weight: bold;
    }

    span {
      display: block;
      margin-bottom: 1rem;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      color: #AEB4C0;
    }
  }

  .keywords-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    p {
      padding: .5rem 1rem;
      border: 1px solid #F4F6FA;
      border-radius: 30px;

      &:hover {
        background-color: #F4F6FA;
        color: #001A54;
      }
    }
  }
}

.info-wrap {
  padding: 6.25rem 0;
  background-color: #001A54;

  .info-contents {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  .content-box {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1400px;
    min-height: 500px;
    margin: auto;
    border-radius: 30px;
  }

  .text-box {
    height: 100%;
    align-content: center;
    padding: 0 3rem;

    h2 {
      margin-bottom: 1rem;
    }
  
    p {

      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        margin-top: 28px;
        margin-bottom: 24px;
        background-color: #263A66;
      }
    }
  }

  .img-box {
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .learn-more {
    margin-top: 4rem;
    padding: .75rem 2.125rem;
    border: none;
    border: 2px solid #F4F6FA;
    border-radius: 30px;
    background-color: #001A54;
    font-size: 1rem;
    color: #F4F6FA;

    &:hover {
      background-color: #F4F6FA;
      font-weight: bold;
      color: #001A54;
    }
  }
}

.info-contents:nth-child(2) .text-box {
  order: 2;
}

.info-contents:nth-child(5) {
  .text-box {
    order: 2;
  }
}

.certification {
  padding: 6.25rem 0;
  color: #1A1E29;

  h2 {
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 50px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg,rgba(0, 27, 84, 1) 0%, rgba(0, 186, 177, 1) 100%);
    border-image-slice: 1;
  }
  
  .contents-box {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .text-box {
    h3 {
      margin-bottom: 3rem;
      font-size: 3rem;
      font-weight: bold;
    }
    
    p {
      margin-bottom: 3.75rem;
      font-size: 1.5rem;
    }

    button {
      padding: 0.75rem 2rem;
      border: 2px solid #001A54;
      border-radius: 30px;
      background-color: #001A54;
      font-size: 1rem;
      color: #AEB4C0;

      &:hover {
        background-color: transparent;
        color: #1A1E29;
      }
    }
  }

  .embla__slide__img {
    img {
      margin: auto;
      padding: 2px;
      border-radius: 30px;
      background: url(../images/certification-bg.svg) no-repeat center/cover;
    }
  }
}

.news {
  position: relative;
  height: 100vh;
  padding: 6.25rem 0;
  background-color: #001A54;

  .bg-circle {
    position: absolute;
    top: 0;
    left: 5%;
  }

  .inner {
    position: absolute;
    left: 50%;
    width: 1440px;
    transform: translateX(-50%);
  }

  h2 {
    max-width: 1400px;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 3rem;

    span {
      display: block;
      font-size: 1rem;
      margin-bottom: .5rem;
    }
  }

  .contents {
    display: flex;
    gap: 2rem;

    button {
      font-weight: 600;
    }
  }

  h3 {
    font-size: 1.5rem;
  }

  .first-box {
    grid-row: 1/3;
    height: 800px;
    padding: 2rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    background: url(../images/first-news-bg.svg) no-repeat center/cover;

    h3 {
      margin-bottom: 1.5rem;
    }

    
  .btn-box {
    display: flex;
    gap: 8px;
    margin-top: 3rem;
  }
  }

  .card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .news-box {
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    background-color: #F4F6FA;
    color: #1A1E29;

    p {
      color: #262B39;
    }

    .btn-box {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .news-box.img {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
    }

    .text-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      height: 100%;
      padding: 1rem 2rem;
      padding-top: 0;
    }

  }

  .news-box:not(.img) {
    padding: 2rem;
    padding-top: 1rem;

    .text-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-top: .5rem;
      padding-bottom: 1rem;
    }
  }
}

.esg {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  
  .inner {
    background: url(../images/inner-bg.svg) no-repeat center/contain;
  }

  h2 {
    padding-top: 50px;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #1A1E29;
  }

  .contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 50px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #AEB4C0;
  }

  .text-box {
    justify-self: flex-end;
  }
  
  .swiper {
    max-width: 600px;
  }

  .swiper-slide {
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
}

.customer-stories {
  padding: 6.25rem 0;
  color: #1A1E29;

  h2 {
    margin-bottom: 3.75rem;
    font-size: 3rem;

    span {
      display: block;
      margin-bottom: .5rem;
      font-size: 1rem;
      letter-spacing: normal;
    }
  }

  .btn-box {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 180px;
    padding: 1rem;
    border: 2px solid #1A1E29;
    border-radius: 30px;
    font-size: 1.25rem;
  }

  .btn.active {
    border: 2px solid #001A54;
    background-color: #001A54;
    font-weight: bold;
    color: #F4F6FA;
  }

  .partner-view {
    overflow: hidden;
    width: 100%;
  }

  .partner-wrap {
    overflow: hidden;
    display: flex;
    gap: 2rem;
    width: max-content;
    margin-top: 5rem;
    white-space: nowrap;
  }

  .partner-box {
    flex-shrink: 0;
    width: 250px;
    transition: transform .3s ease;
  }

  .partner-inner {
    position: relative;
    padding-top: 5rem;
  }

  .logo-round {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 1rem;
    border-radius: 100%;
    align-content: center;
    transform: translateX(-50%);
    z-index: 20;

    img {
      object-fit: cover;
      object-position: center;
      margin: auto;
    }
  }

  .text-box {
    width: 220px;
    height: 260px;
    margin: auto;
    padding: 1rem;
    padding-top: 6rem;
    border: 3px solid #ccc;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(5px);

    h3 {
      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        margin: 1rem 0;
        background-color: #ccc;
      }
    }
  }
  
  li {
    letter-spacing: normal;
  }
}

.footer {
  background-color: #262B39;
  font-size: 14px;
  color: #AEB4C0;

  .container {
    padding: 3rem 4rem;
  }

  .ft-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .f-info {
    text-align: center;

    p {
      margin-bottom: .5rem;
    }

    .f-link {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;

      a {
        display: inline-block;
        font-weight: 600;

        &:not(:last-child):after {
          display: inline-block;
          content: '';
          width: 1px;
          margin: 0 1.5rem;
          padding: 4px 0;
          background-color: #fff;
        }
      }
    }
  }

  .f-site {
    display: flex;
    gap: 2rem;
  }

  .f-sns {
    display: flex;
    gap: .5rem;

    div {
      width: 40px;
      height: 40px;
    }
  }

  .f-family {
    .f-select {
      display: block;
      padding: 1rem;
      border: none;
      background-color: #001A54;
      font-family: inherit;
      color: #F4F6FA;
    }
  }

  .copyright {
    font-size: 12px;
  }
}

.partner-box {
  width: 25%; /* 4개 기준 */
}

@media (max-width: 1024px) {
  .partner-box {
    width: 33.33%; /* 3개 */
  }
}

@media (max-width: 768px) {
  .partner-box {
    width: 50%; /* 2개 */
  }
}

@media (max-width: 480px) {
  .partner-box {
    width: 100%; /* 1개 */
  }
}