@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/*
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F6FA;
  font-family: "Inter", "SUIT-Regular", sans-serif;
  color: #F4F6FA;
}

html,
body,
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

figure {
  width: fit-content;
  height: fit-content;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  font-family: "Inter", "SUIT-Regular", sans-serif;
  color: inherit;
  cursor: pointer;
}

hr {
  border: none;
}

p,
span,
h2,
h3,
h4 {
  line-height: 1.5;
}

.inner {
  padding: 9rem 4rem;
}

.wrapper {
  position: relative;
}

.header.sticky {
  position: sticky;
  background-color: rgba(0, 26, 84, 0.4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(0); /* or translateY(-5px) if you want movement */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  transition: all 0.3s ease;
  box-shadow: none;
  transform: translateY(0);
  z-index: 99;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: auto;
  padding: 0 1rem;
}
.header .nav-area {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .desktop-nav .menus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  font-weight: bold;
}
.header .desktop-nav .menu-items {
  position: relative;
  align-content: center;
}
.header .desktop-nav .menu-items:hover .dropdown {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.header .desktop-nav .menu-items a {
  display: block;
}
.header .desktop-nav .menu-items button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}
.header .desktop-nav .menu-items .blog {
  margin-bottom: 10px;
  padding-bottom: 0.5rem;
  font-size: 20px;
}
.header .desktop-nav .menu-items.open button {
  border-bottom: 3px solid #001B54;
  font-weight: bold;
}
.header .desktop-nav .menu-items.open .dropdown {
  display: flex;
}
.header .desktop-nav .dropdown {
  position: absolute;
  top: 100%;
  left: -80%;
  display: none;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 2rem;
  background-color: #001B54;
  font-size: 0.8rem;
  text-wrap: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
}
.header .desktop-nav .sub-items {
  font-size: 20px;
  font-weight: 400;
}
.header .desktop-nav .sub-items:hover {
  font-weight: bold;
}
.header .desktop-nav .divider {
  width: 2px;
  background-color: #F4F6FA;
  margin: 4px 8px;
}
.header .custom-select {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header .custom-select .flag {
  object-fit: cover;
  border-radius: 100%;
}
.header .custom-select .options {
  position: absolute;
  top: 100%;
  left: 0;
}
.header .custom-select .options li {
  margin: 4px 0;
}
.header .contact {
  padding: 12px 24px;
  border: 3px solid #F4F6FA;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  font-weight: bold;
  color: #F4F6FA;
}
.header .contact:hover {
  border: 3px solid #001B54;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #001B54;
}

.main-section {
  position: relative;
}
.main-section .swiper {
  height: 100vh;
}
.main-section .swiper-slide .slide-bg {
  width: 100%;
  height: 100%;
}
.main-section .swiper-slide:nth-child(1) .slide-bg {
  background: url(../images/slide1.svg) no-repeat top/cover;
}
.main-section .swiper-slide:nth-child(2) .slide-bg {
  background: url(../images/slide2.svg) no-repeat top/cover;
}
.main-section .swiper-slide .slide-txt {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  max-width: 1920px;
  padding: 0 1rem;
  transform: translate(-50%);
}
.main-section .swiper-slide .slide-txt h4 {
  margin-bottom: 1.5rem;
  font-size: 5rem;
}
.main-section .swiper-slide .slide-txt p {
  margin-left: 0.2rem;
  font-size: 1.5rem;
}
.main-section .main-menu {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  height: 300px;
  margin: 0 1rem;
  border-radius: 30px;
  background-color: #001A54;
  text-align: center;
  transform: translateX(-50%);
  z-index: 10;
}
.main-section .menu-inner {
  align-content: center;
}
.main-section .line {
  border-right: 1px solid #263A66;
}
.main-section .menu-box {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 100%;
  padding-top: 32px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main-section .menu-box:hover {
  border-radius: 30px;
  background-color: #F4F6FA;
  color: #1A1E29;
  transform: translateY(-35px) scale(1.03);
}
.main-section .menu-box:hover .title-box .icon {
  color: #001A54;
}
.main-section .menu-box:hover button {
  font-weight: bold;
}
.main-section .menu-box .title-box {
  align-content: center;
}
.main-section .menu-box .title-box figure {
  margin: 0 auto;
}
.main-section .menu-box .title-box .icon {
  color: #F4F6FA;
}
.main-section .menu-box .title-box .rotate {
  transform: rotate(90deg);
}
.main-section .menu-box .title-box p {
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
}
.main-section .menu-box .button-box {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 1.5rem 0;
}
.main-section .menu-box .button-box button {
  font-size: 18px;
}

.menu-inner:not(:last-child) {
  border-right: 1px solid #263A66;
}

.business {
  background-color: #1A1E29;
}
.business h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}
.business .content-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 2rem;
}
.business .content-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #262B39;
}
.business .text-box {
  padding: 1rem 1.5rem;
}
.business .text-box h3 {
  margin-bottom: 1rem;
}
.business .text-box span {
  display: block;
  margin-bottom: 0.5rem;
}
.business .text-box p {
  font-size: 14px;
  color: #AEB4C0;
}
.business hr {
  height: 2px;
  color: #fff;
}
.business .keywords-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 1rem;
}
.business .keywords-box p {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 14px;
}

.video-box {
  overflow: hidden;
  display: flex;
  width: 100%;
  max-height: 600px;
  margin-bottom: 7rem;
}
.video-box img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.info-contents .info-inner {
  padding: 4rem;
}
.info-contents .content-box {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 1400px;
  min-height: 500px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
}
.info-contents .text-box {
  height: 100%;
  align-content: center;
  padding: 0 3rem;
}
.info-contents .text-box h2 {
  margin-bottom: 1rem;
  color: #001A54;
}
.info-contents .text-box p {
  color: #1A1E29;
}
.info-contents .text-box p::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin: 1.5rem 0;
  background-color: #262B39;
}
.info-contents .text-box span {
  font-size: 14px;
  color: #262B39;
}
.info-contents .img-box {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.info-contents .learn-more {
  margin-top: 4rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #001A54;
  color: #F4F6FA;
}
.info-contents .learn-more:hover {
  border: 2px solid #001A54;
  background-color: transparent;
  color: #001A54;
}

.info-contents:nth-child(5) .text-box {
  order: 2;
}

.news h2 {
  max-width: 1400px;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.news h2 span {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.news .contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  max-width: 1400px;
  margin: auto;
}
.news .contents button {
  font-weight: 600;
}
.news .first-box {
  grid-row: 1/3;
  padding: 2rem 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  background-color: #262B39;
}
.news .first-box button {
  margin-top: 2rem;
}
.news .news-box {
  position: relative;
  min-height: 300px;
  padding: 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  background-color: #262B39;
}
.news .news-box button {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
}
.news h3 {
  margin-bottom: 1rem;
}
.news p {
  font-size: 14px;
  color: #AEB4C0;
}
.news button {
  border: none;
  background-color: transparent;
}
.news .img-or-case {
  margin-bottom: 1rem;
  font-size: 14px;
  color: #AEB4C0;
}

.esg .inner {
  max-width: 1920px;
  margin: auto;
}
.esg h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.esg .contents {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.esg h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #AEB4C0;
}
.esg p {
  margin-bottom: 0.5rem;
}
.esg .img-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.esg .img-box figure {
  padding: 1.5rem 0;
  border-radius: 5px;
  background-color: #fff;
}

.customer-stories .inner {
  max-width: 1920px;
  margin: auto;
}
.customer-stories h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
.customer-stories h2 span {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
}
.customer-stories .partner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.customer-stories .partner-box {
  width: 250px;
}
.customer-stories .partner-inner {
  position: relative;
  padding-top: 5rem;
}
.customer-stories .logo-round {
  position: absolute;
  top: 0;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 1rem;
  border: 2px solid goldenrod;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  align-content: center;
  transform: translateX(-50%);
  z-index: 20;
}
.customer-stories .logo-round img {
  object-fit: cover;
  object-position: center;
  margin: auto;
}
.customer-stories .text-box {
  height: 300px;
  padding: 1rem;
  padding-top: 6rem;
  border: 2px solid goldenrod;
  border-radius: 5px;
  text-align: center;
  background-color: #262B39;
  backdrop-filter: blur(5px);
}
.customer-stories .text-box h3 {
  color: #AEB4C0;
}
.customer-stories .text-box h3::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  margin: 1rem 0;
  background-color: #AEB4C0;
}

.footer {
  background-color: #262B39;
  font-size: 14px;
  color: #AEB4C0;
}
.footer .container {
  padding: 3rem 4rem;
}
.footer .ft-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer .f-info {
  text-align: center;
}
.footer .f-info p {
  margin-bottom: 0.5rem;
}
.footer .f-info .f-link {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.footer .f-info .f-link a {
  display: inline-block;
  font-weight: 600;
}
.footer .f-info .f-link a:not(:last-child):after {
  display: inline-block;
  content: "";
  width: 1px;
  margin: 0 1.5rem;
  padding: 4px 0;
  background-color: #fff;
}
.footer .f-site {
  display: flex;
  gap: 2rem;
}
.footer .f-sns {
  display: flex;
  gap: 0.5rem;
}
.footer .f-sns div {
  width: 40px;
  height: 40px;
}
.footer .f-family .f-select {
  display: block;
  padding: 1rem;
  border: none;
  background-color: #001A54;
  font-family: inherit;
  color: #F4F6FA;
}
.footer .copyright {
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
